/* Colors */
:root
{
    --bg: #EFEFEF;
    --bg-input: #EFEFEF;
    --bg-card-login: #FFFFFF;
    --bg-navbar-login: #FFFFFF;
    --border-inside-button: #D9D9D9;
    --border-inside-navbar: #C8C8C8;
    --btn-hover-login: #27ae60;
    --heading: #000000;
    --text-hover: #009A49;
    --label-input: #969696;
}