/* Colors */
:root
{
    --bg: #EFEFEF;
    --gs-text-color: black;
    --bg-input: #EFEFEF;
    --bg-card-login: #FFFFFF;
    --bg-navbar-login: #FFFFFF;
    --border-inside-button: #D9D9D9;
    --border-inside-navbar: #C8C8C8;
    --btn-hover-login: #27ae60;
    --heading: #000000;
    --text-hover: #009A49;
    --label-input: #969696;

    --bg-btn-carousel: #c5bfbf;
    --bg-btn-hover-carousel: rgba(0, 154, 73, 0.16);
    --bg-dark-mode:  rgb(30, 30, 30);
    --bg-light-mode-indicator: #D9D9D9;
    --color-btn-icon-carousel: #474646;
    --color-btn-icon-hover-carousel: #009A49
    --color-btn-icon-carousel: #009A49;
    --color-btn-more-games: #009A4916;
}
.dark-mode {
    --gs-header-backg-color: rgb(50, 50, 50);
    --gs-page-backg-color: rgb(30, 30, 30);
    --gs-text-color: rgb(200, 200, 200);
    --gs-icon-color: rgba(200, 200, 200);
    --gs-icon-hover-color: rgba(220, 220, 220);
    --gs-text-hover-color: rgb(200, 200, 200);
    --gs-text-active-color: white;
    --gs-unfocosed-color: rgb(100, 100, 100);
    --gs-hover-color: rgba(255, 255, 255, 0.05);
    --gs-accent-color: rgb(0, 154, 73);
    --gs-text-unfocused-color: rgb(180, 180, 180);
    --gs-line-size: 1px;
}