@import "colors.css";
@import "styles.css";

.card-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-game
{
    display: grid;
    border: 2px solid var(--bg-btn-carousel);
    border-radius: 4px;
    align-items: start;
    grid-template-columns: 10em 1fr;
    grid-gap: 0.4em;
    margin: 0 20em;
    background-color: var(--bg);
    flex-shrink: 0;
    height: 14.3em;
    width: 50em;
    
}

.card-game.dark-mode
{
    background-color: var(--gs-header-backg-color);
}

.card-game-image
{
    flex: 1 0 auto;
    overflow: hidden;
    border-top-left-radius: 4px;
}

.card-game-image img 
{
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.card-game-content
{
    display: grid;
    grid-template-rows: auto 1fr;
    align-content: start;
    align-items: flex-start;
    padding: 10px;
    padding-top: 0.1em;
    flex: 0 1 auto;
    margin-top: 10px;
    font-family: 'Raleway';
    font-weight: normal;
}

.card-game-content h3
{
    margin: 0;
    font-size: 2em;
    color: var(--heading);
    font-weight: 400;
}

.card-game-description
{
    font-size: 0.7em;
    text-align: justify;
    line-height: 2em;
    color: var(-heading);
    font-weight: lighter;
}

.card-panel
{

    margin-top: 1em;
    background-color: var(--bg);
    border: 2px solid var(--bg-btn-carousel);
    border-radius: 4px;
    width: 55em;
    height: 5em;
}

.card-panel-content
{
    flex-direction: row;
}

.pair 
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pair-title 
{
    margin-top: 5px;
    white-space: nowrap;
    color: #000000;
}

.pair-info 
{
    color: var(--color-pair-info);
    white-space: nowrap;
}

.btn-download
{
    background: var(--bg-btn-download-games-desc);
    color: var(--color-text-btn-download-games-desc);
    font-weight: 700;
    font-size: 1.125rem;
    border-radius: 4px;
    padding: 5px 10px;
}
