@import "./colors.css";

.navbar-container
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.carousel-container
{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselExampleIndicators
{
    position: relative;
}

#content-body.dark-mode
{
    background-color: var(--bg-dark-mode);
    transition: background-color 0.2s linear, color 0.2s linear;
}

#content-body.dark-mode
{
    background-color: var(--bg-dark-mode);
    transition: background-color 0.2s linear, color 0.2s linear;
}

.carousel-wrapper
{
    position: relative; 
    width: 70%;
    margin: 0 auto;
}

.carousel-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-item, .carousel-image
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 4px;
}

.arrow-box
{
    position: absolute;
    width: 6% !important;
    height: 17%;
    margin: 7rem auto;
    background-color: var(--bg-btn-carousel) !important;
    border-radius: 4px;
}

.arrow-box-left
{
    left: 1% !important;
}

.arrow-box-right
{
    right: 1% !important;
}

.arrow-box:hover
.arrow-icon
{
    color: var(--color-btn-icon-hover-carousel) !important;
}

.arrow-box:hover
{
    background-color: var(--bg-btn-hover-carousel) !important;
}

.arrow-icon
{
    position: absolute;
    color: var(--color-btn-icon-carousel);
    font-size: 2em;
}

.arrow-icon:hover
{
    position: absolute;
    text-decoration: none;
}

.carousel-custom-indicators 
{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.carousel-custom-indicators button 
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: var(--bg-light-mode-indicator);
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.carousel-custom-indicators button.active 
{
    background-color: var(--color-btn-icon-hover-carousel);
}

.carousel-indicators-wrapper 
{
    position: relative;
    margin-top: 10px;
    text-align: center;
}

.carousel-custom-indicators {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-custom-indicators li 
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-custom-indicators .active 
{
    background-color: #333;
}
.card-home
{
    max-width: 1920px;
    width: 90%;
    margin:0 auto 5%;
    
}
.card-home-title
{
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: var(--gs-text-color);
    border: none;
  /*border-bottom: 1px solid var(--gs-text-color);*/    
}
.more-games
{
    background-color: var(--color-btn-more-games);
    padding: 3px;  
    border-radius: 4px;
}
.more-games-link
{
    text-decoration: none;
    color: var(--text-hover);
}
.more-games:hover, .more-games-link:hover
{
    cursor: pointer;
    background-color: var(--gs-unfocosed-color);
    transition: 300ms;
    
}
/* .card-home-games
{
    background-color: red;
    
} */
.-card {
    background-color: var(--gs-page-backg-color);
    border: none;
    width: 14.75rem;
    height: 14rem;
    position: relative;
    overflow: visible;
    /*box-shadow: 0px 2px 4px 1px rgba(0,0,0, 0.5);*/
    box-shadow: 0 0 0.625rem black;
    border-radius: 0.25rem;
    user-select: none;
}

.-card:hover {
    cursor: pointer;
}

.-card-top {
    display: block;
    width: 100%;
    height: calc(14rem / 2);
    overflow: hidden;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.-card-top img {
    transition: transform .3s;
    transform-origin: center;
    width: 14.75rem;
    height: calc(14rem / 2);
    display: block;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.-card-bottom {
    position: relative;
}

.-card-bottom img {
    width: 14.75rem;
    height: calc(14rem / 2);
    display: block;
    border-radius: 0px 0px 0.25rem 0.25rem;
    object-fit: cover;
}

.-card-text {
    border-top: 0.125rem solid white;
    backdrop-filter: blur(0.625rem);
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    z-index: 2;
    user-select: none; 
}

.-card:hover .-card-text { 
    backdrop-filter: none;
    background-color: white;
    color: black; 
}

.-card:hover .-card-top img { 
    transform: scale(1.2);
}

.-card-text h1 {
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
}

.-card-text h2 {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
}

.-card-text p {
    text-align: justify;
    text-overflow: ellipsis;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 0.65rem;
    margin-left: 0.25rem;
    margin-right: 0.30rem;
    margin-bottom: 0.35rem;
    border: 1px solid;
    border-radius: 4px;
    display: inline-block;
    width: auto;
    padding: 2%;
}

.card-grid {
    display: grid;
    margin-top: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(14.75rem /* 300px */, max-content));
    grid-gap: 2rem;
    justify-content: center;
    /* column-count: 4; */
}