@import "./colors.css";

.navbar-container
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.carousel-container
{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselExampleIndicators
{
    position: relative;
}

#content-body.dark-mode
{
    background-color: var(--bg-dark-mode);
    transition: background-color 0.2s linear, color 0.2s linear;
}

#content-body.dark-mode
{
    background-color: var(--bg-dark-mode);
    transition: background-color 0.2s linear, color 0.2s linear;
}

.carousel-wrapper
{
    position: relative; 
    width: 70%;
    margin: 0 auto;
}

.carousel-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-item, .carousel-image
{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 4px;
}

.arrow-box
{
    position: absolute;
    width: 6% !important;
    height: 17%;
    margin: 7rem auto;
    background-color: var(--bg-btn-carousel) !important;
    border-radius: 4px;
}

.arrow-box-left
{
    left: 1% !important;
}

.arrow-box-right
{
    right: 1% !important;
}

.arrow-box:hover
.arrow-icon
{
    color: var(--color-btn-icon-hover-carousel) !important;
}

.arrow-box:hover
{
    background-color: var(--bg-btn-hover-carousel) !important;
}

.arrow-icon
{
    position: absolute;
    color: var(--color-btn-icon-carousel);
    font-size: 2em;
}

.arrow-icon:hover
{
    position: absolute;
    text-decoration: none;
}

.carousel-custom-indicators 
{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.carousel-custom-indicators button 
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: var(--bg-light-mode-indicator);
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.carousel-custom-indicators button.active 
{
    background-color: var(--color-btn-icon-hover-carousel);
}

.carousel-indicators-wrapper 
{
    position: relative;
    margin-top: 10px;
    text-align: center;
}

.carousel-custom-indicators {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel-custom-indicators li 
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-custom-indicators .active 
{
    background-color: #333;
}
