:root {
    /* Default Light Mode */
    --gs-header-backg-color: rgb(239, 239, 239);
    --gs-page-backg-color: white;
    --gs-text-color: black;
    --gs-text-hover-color: black;
    --gs-text-unfocused-color: rgb(180, 180, 180);
    --gs-bottom-unfocused-color: rgb(160, 160, 160);
    --gs-text-active-color: white;
    --gs-unfocosed-color: rgb(200, 200, 200);
    --gs-accent-color: rgb(0, 154, 73);
    --gs-hover-color: rgba(0, 0, 0, 0.05);
    --gs-icon-color: rgba(66, 66, 66);
    --gs-icon-hover-color: rgba(36, 36, 36);
    --gs-line-size: 1px;
    --gs-tab-menu-line-size: 2px;
}

.dark-mode {
    --gs-header-backg-color: rgb(50, 50, 50);
    --gs-page-backg-color: rgb(30, 30, 30);
    --gs-text-color: rgb(200, 200, 200);
    --gs-icon-color: rgba(200, 200, 200);
    --gs-icon-hover-color: rgba(220, 220, 220);
    --gs-text-hover-color: rgb(200, 200, 200);
    --gs-text-active-color: white;
    --gs-unfocosed-color: rgb(100, 100, 100);
    --gs-hover-color: rgba(255, 255, 255, 0.05);
    --gs-accent-color: rgb(0, 154, 73);
    --gs-text-unfocused-color: rgb(180, 180, 180);
    --gs-line-size: 1px;
    --gs-tab-menu-line-size: 2px;
}

* {
    padding: 0;
    margin: 0;
    border-color: transparent;
    outline: none;
    list-style: none;
    user-select: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

html, body {
    box-sizing: border-box;
    background-color: var(--gs-page-backg-color);
    color: var(--gs-text-color);
    max-width: 100%;
    overflow-x: hidden;
}

a:link, a:visited {
    text-decoration: none;
    cursor: default;
}

.gs-parent-container {
    position: relative;
    background-color: var(--gs-page-backg-color);
    transition: background-color 0.2s linear, color 0.2s linear;
}

.gs-header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--gs-header-backg-color);
    z-index: 999;
}

.gs-seperator {
    height: 1rem;
    background-color: var(--gs-page-backg-color);
}

.gs-content {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--gs-page-backg-color);
}

.gs-center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

.full-tab-menu {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--gs-line-size) solid var(--gs-unfocosed-color);
    user-select: none;
    margin: 0;
    padding: 0;
}

.tab-menu li,
.full-tab-menu li {
    display: inline-block;
    color: var(--gs-text-color);
    transition: background-color 0.25s ease-in-out;
    position: relative;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 2rem;
    cursor: default;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
}

.tab-menu li:hover,
.full-tab-menu li:hover {
    background-color: var(--gs-hover-color);
}

/* .tab-menu li:hover::after { 
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #6938FC;
} */

.tab-menu nav,
.full-tab-menu nav {
    display: inline-block;
    width: 100%;
}

.tab-menu li.active,
.full-tab-menu li.active {
    display: inline-block;
    position: relative;
    background-color: var(transparent);
}

.tab-menu li.active::after,
.full-tab-menu li.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -var(--gs-line-size);
    width: 100%;
    height: var(--gs-line-size);
    transition: position 0.25s ease-in-out;
    background-color: var(--gs-hover-color);
}

.tab-menu a,
.full-tab-menu a {
    display: flex;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.187rem;
    padding-top: 0.187rem;
    text-decoration: none;
    color: var(--gs-text-color);
}

.tab-menu li:hover::after,
.tab-menu li.active::after,
.full-tab-menu li:hover::after,
.full-tab-menu li.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -var(--gs-line-size);
    width: 100%;
    height: var(--gs-line-size);
    background-color: var(--gs-accent-color);
    transition: transform 0.15s ease-in-out;
    transform-origin: center;
}

.tab-menu li:hover::after,
.full-tab-menu li:hover::after {
    transform: scaleX(0);
}

.tab-menu li.active::after,
.full-tab-menu li.active::after {
    transform: scaleX(1);
}

.tab-menu li i,
.full-tab-menu li i {
    display: flex;
    align-items: center;
}

.icon-button {
	background-color: var(transparent);
    color: var(--gs-icon-color);
	border: 2px solid transparent;
    border-radius: 4px;
	text-align: center;
    font-size: inherit;
    text-transform: uppercase;
	font-weight: 600;
    font-family: 'Raleway';
	letter-spacing: 1px;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: default;
    user-select: none;
}

.icon-button:hover {
    background-color: var(--gs-hover-color);
    color: var(--gs-icon-hover-color);
    transition: .5s;
}

.icon-button:active::after {
    display: none;
}

.icon-button:active {
	background-color: var(--gs-accent-color);
	color: var(--gs-text-active-color);
	box-shadow: 0 0 7px var(--gs-accent-color);
    transition: .0s
}

.gs-header-brand {
    margin: 0.625rem;
    width: 14.3rem;
}

.gs-header-rigth-container {
    display : flex;
    flex-direction: row;
    margin-right: 0.625rem;
    gap: 0.2rem;
}

#theme-toggle-icon, 
#core-profile-toggle {
    font-size: 2rem;
}

.gs-flex-container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    width: 100%;
}

.gs-header-icon-button {
    width: 3.75rem;
    height: 3.125rem;
}

.gs-text-box {
    color: var(--gs-text-color);
    font-family: 'Raleway', sans-serif;
    position: relative;
    background-color: var(--gs-header-backg-color);
    font-size: inherit; /* 1.25rem */
    padding: 0.625rem 0.625rem 0.625rem 2.81rem;
    border: none;
    border-bottom: 2px solid var(--gs-unfocosed-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: inherit;
    color: var(--gs-text-color);
    height: inherit;
}

.gs-text-box:hover {
    border-color: rgb(--gs-unfocosed-color);
    transition: .1s;
}

.gs-text-box::placeholder {
    color: var(--gs-text-unfocused-color);
}

.gs-text-box:focus {
    border-color: var(--gs-accent-color);
    transition: .1s;
    outline: none;
}

.gs-main-search-box {
    position: relative;
    display: inline-block;
    width: 50rem; 
    height: 3.1rem; 
    font-size: 1.5rem
}

.search-icon {
    position: absolute;
    left: 0.625rem;
    top: 40%;
    transform: translateY(-40%);
    color: var(--gs-icon-color);
    font-size: 1.5rem;
}

.gs-card {
    background-color: var(--gs-page-backg-color);
    border: none;
    width: 18.75rem;
    height: 18rem;
    position: relative;
    overflow: visible;
    /*box-shadow: 0px 2px 4px 1px rgba(0,0,0, 0.5);*/
    box-shadow: 0 0 0.625rem black;
    border-radius: 0.25rem;
    user-select: none;
}

.gs-card:hover {
    cursor: pointer;
}

.gs-card-top {
    display: block;
    width: 100%;
    height: calc(18rem / 2);
    overflow: hidden;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
}

.gs-card-top img {
    transition: transform .3s;
    transform-origin: center;
    width: 18.75rem;
    height: calc(18rem / 2);
    display: block;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.gs-card-bottom {
    position: relative;
}

.gs-card-bottom img {
    width: 18.75rem;
    height: calc(18rem / 2);
    display: block;
    border-radius: 0px 0px 0.25rem 0.25rem;
    object-fit: cover;
}

.gs-card-text {
    border-top: 0.125rem solid white;
    backdrop-filter: blur(0.625rem);
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    z-index: 2;
    user-select: none; 
}

.gs-card:hover .gs-card-text { 
    backdrop-filter: none;
    background-color: white;
    color: black; 
}

.gs-card:hover .gs-card-top img { 
    transform: scale(1.2);
}

.gs-card-text h1 {
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
}

.gs-card-text h2 {
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
}

.gs-card-text p {
    text-align: justify;
    text-overflow: ellipsis;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 0.65rem;
    margin-left: 0.25rem;
    margin-right: 0.30rem;
    margin-bottom: 0.25rem;
}

.gs-card-grid {
    display: grid;
    margin-top: 3.125rem;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem /* 300px */, max-content));
    grid-gap: 2rem;
    justify-content: center;
}

.gs-about-layout {
    width: 100%;
    height: 100%;
    background-image: url(https://gizmodo.uol.com.br/wp-content/blogs.dir/8/files/2016/10/sitesderrubados-pf.jpg); 
    background-repeat: no-repeat; 
    background-size: 100%;
}

.gs-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.order-by-box
{
    position: relative;
}

.order-by-box-content
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: absolute;
    margin-top: 30px;
    z-index: 3;
    right: 20rem;
    top: 1.5rem;
    padding-top: 2%;
    width: 10rem;
    overflow:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: var(--gs-page-backg-color); /* #EFEFEF; */
    border-radius: 2px;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    color: var( --gs-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.order-by-box-content-off
{
    display: none;
}

.order-by-box-content-item
{
    position: relative;
    padding-left: 1rem;
    width: 100%;
}

.order-by-box-content-item:hover 
{
    background-color: var(--gs-hover-color);
    border: none;
    border-bottom: 1px solid var(--gs-accent-color);
}

.order-by-button
{
    position: relative;
    right: 20rem;
    width: 10rem;
    text-align: left;
    text-indent: 10%;
    z-index: 3;
    top: 1rem;
    font-size: 12px;
    height: 30px;
    border: none;
    border-bottom: 2px solid var(--gs-unfocosed-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var(--gs-header-backg-color);
    color: rgb(150, 150, 150);
}

.order-by-button-clicked 
{
    border-bottom: 2px solid var(--gs-accent-color);
}

.chevron-down
{
    position: absolute;
    float: right;
    right: 5%;
    top: 10%;
    font-size: 1rem;
}

.order-by-box-text-top
{
    position: relative;
    font-size: 70%;
    font-family: 'Raleway', sans-serif;
}

.order-by-box-text-bottom
{
    position: relative;
    bottom: 10%;
    font-family: 'Raleway', sans-serif;
    color: var(--gs-text-color);
    font-weight: 300;
    font-size: 0.75rem;
}

.order-by-box-content-text
{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

input[type="checkbox"]
{
    display: none;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--gs-header-backg-color);
    position: relative;
    left: 10%;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid var(--gs-unfocosed-color);
    border-radius: 1em;
    transform: translateY(-0.075em);
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    appearance: none;
    background-color: var(--gs-header-backg-color);
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid var(--gs-unfocosed-color);
    border-radius: 1em;
    transform: translateY(-0.075em);
    display: inline-block;
    vertical-align: middle;
    transform-origin: bottom left;
}

input[type="checkbox"]:checked::before {
    content: "●";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-36%, -75%);
    width: 1.15em;
    height: 1.15em;
    border-radius: 0.15em;
    display: inline-block;
    color: var(--gs-accent-color);
} 

/* Style the custom checkbox */
input[type="checkbox"] + label {
    position: relative;
    /* padding-left: 25%; */ /* Adjust as needed */
    left: 15%;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    justify-content: center;   
}

.gs-tab-menu {
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

.gs-tab-menu li {
    display: inline-block;
    color: var(--gs-text-color);
    background-color: var(--gs-header-backg-color);
    position: relative;
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 1.3rem;
    cursor: default;
    border-radius: 0.25rem;
    margin-right: 0.40rem;
    min-width: 11.25rem;
}

.gs-tab-menu li:hover {
    background-color: rgba(0, 154, 73, 0.10);
}

.gs-tab-menu nav {
    display: inline-block;
    width: 100%;
}

.gs-tab-menu li.active {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 154, 73, 0.16);
    color: var(--gs-accent-color);
    font-weight: bold;
    border-radius: 0px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.gs-tab-menu li.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -var(--gs-tab-menu-line-size);
    width: 100%;
    height: var(--gs-tab-menu-line-size);
    transition: position 0.25s ease-in-out;
    background-color: var(--gs-hover-color);
}

.gs-tab-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
    text-decoration: none;
    color: inherit;
}

.gs-tab-menu li:hover::after,
.gs-tab-menu li.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -var(--gs-tab-menu-line-size);
    width: 100%;
    height: var(--gs-tab-menu-line-size);
    background-color: var(--gs-accent-color);
    transition: transform 0.15s ease-in-out;
    transform-origin: center;
}

.gs-tab-menu li:hover::after {
    transform: scaleX(0);
}

.gs-tab-menu li.active::after {
    transform: scaleX(1);
}

.gs-tab-menu li i {
    display: flex;
    align-items: center;
}

.game-page-menu {
    margin-bottom: 1.25rem;
}

.gs-reqs-panel {
    background-color: var(--gs-header-backg-color);
    border: 2px solid var(--gs-unfocosed-color);
    border-radius: 4px;
    width: 60rem;
    height: 23rem;
}

.gs-reqs-panel-left-side {
    position: absolute;
    margin: 20px;
    color: var(--gs-text-color);
}

.gs-reqs-panel-right-side {
    position: relative;
    left: calc(50%);
    top: 20px;
    right: 20px;
    bottom: 20px;
    color: var(--gs-text-color);
}

.gs-reqs-panel-left-side h1,
.gs-reqs-panel-right-side h1 {
    font-family: 'Raleway';
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: inherit;
}

.gs-reqs-panel-left-side li,
.gs-reqs-panel-right-side li {
    display: inherit;
    background-color: var(--gs-hover-color);
    border-radius: 4px;

    font-family: 'Raleway';
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    max-width: calc(61rem/2.3);

    width: fit-content;

    margin: 10px;
    padding: 10px;

    margin-left: 0px;
    margin-bottom: 0px;
}

.gs-reqs-panel-left-side li a {
    color: inherit;
}

.gs-reqs-panel-seperator {
    width: 0px;
    height: 1px;
    background-color: var(--gs-header-backg-color);
}

.gs-reqs-panel-line {
    position: absolute;
    width: 2px;
    left: calc(48%);
    height: calc(23rem - 2px);
    background-color: var(--gs-unfocosed-color);
}

.gs-reqs-panel-group {
    display: inline-block;
}

@media (max-width: 1200px)
{
    .gs-header-brand {
        width: calc(14.3rem / 1.5);
    }

    .gs-header-icon-button {
        width: calc(60px / 1.5);
        height: calc(50px / 1.5);
    }

    #theme-toggle-icon, 
    #core-profile-toggle {
            font-size: 1rem;
    }

    .full-tab-menu li {
        font-size: 1rem;
    }

    .gs-main-search-box {
        width: 21rem; 
        height: 2.3rem; 
        font-size: 1rem;
    }

    .gs-main-search-box > .gs-text-box {
        padding-left: calc(2.81rem / 1.2);
    }

    .search-icon {
        font-size: 1rem;
        position: absolute;
    }

    .order-by-button
    {
        right: 7rem;
        width: 7rem;
    }

    .order-by-box-content
    {
        right: 7rem;
        width: 7rem;
    }
    
    .full-tab-menu li {
        font-size: 1rem;
    }

    .gs-reqs-panel {
        width: calc(60rem / 1.4);
        height: calc(23rem / 1.4);
        border-width: 1px;
    }

    .gs-reqs-panel-left-side {
        margin: calc(20px / 1.4);
    }

    .gs-reqs-panel-right-side {
        top: calc(20px / 1.4);
        right: calc(20px / 1.4);
        bottom: calc(20px / 1.4);
    }

    .gs-reqs-panel-left-side h1,
    .gs-reqs-panel-right-side h1 {
        font-size: 0.8rem;
        height: 0;
        margin-bottom: 20px;
    }

    .gs-reqs-panel-left-side li,
    .gs-reqs-panel-right-side li {
        border-radius: 2px;
        font-size: 0.5rem;
        margin-top: 10px;
        padding: 8px;
        max-width: calc(60rem/1.4);
    }

    .gs-reqs-panel-line {
        width: 1px;
        height: calc(23rem/1.4 - 1px);
    }
}

@media (max-width: 600px)
{
    .gs-header-brand {
        width: calc(14.3rem / 2);
    }

    .gs-header-icon-button {
        width: calc(60px / 2);
        height: calc(50px / 2);
    }

    #theme-toggle-icon, 
    #core-profile-toggle {
            font-size: 1rem;
    }

    .full-tab-menu li {
        font-size: 1rem;
    }

    .gs-tab-menu li {
        font-size: 0.7rem;
        min-width: 0px;
        max-width: 6.87rem;
    }

    .gs-tab-menu a {
        padding-top: 0.40rem;
        padding-bottom: 0.40rem;
    }

    .gs-main-search-box {
        width: 21rem; 
        height: 2.3rem; 
        font-size: 1rem;
    }

    .gs-main-search-box > .gs-text-box {
        padding-left: calc(2.81rem / 1.2);
    }

    .search-icon {
        font-size: 1rem;
        position: absolute;
    }

    .order-by-button
    {
        right: 7rem;
        width: 7rem;
    }

    .order-by-box-content
    {
        right: 7rem;
        width: 7rem;
    }
    
    .full-tab-menu li {
        font-size: 1rem;
    }

    .gs-reqs-panel {
        width: calc(60rem / 3);
        height: calc(23rem / 2);
        border-width: 1px;
    }

    .gs-reqs-panel-left-side {
        margin: calc(20px / 2);
    }

    .gs-reqs-panel-right-side {
        top: calc(20px / 2);
        right: calc(20px / 2);
        bottom: calc(20px / 2);
    }

    .gs-reqs-panel-left-side h1,
    .gs-reqs-panel-right-side h1 {
        font-size: 0.6rem;
    }

    .gs-reqs-panel-left-side li,
    .gs-reqs-panel-right-side li {
        border-radius: 2px;
        font-size: 0.3rem;
        margin: 0;
        padding: 5px;
        max-width: calc(60rem/3);
    }

    .gs-reqs-panel-line {
        width: 1px;
        height: calc(23rem/2 - 1px);
    }
}

@media (max-width: 320px)
{
    .gs-header-brand {
            width: calc(14.3rem / 2);
    }

    .gs-flex-container {
            justify-content: center;
    }

    .gs-header-icon-button {
            display: none;
    }

    #theme-toggle-icon, 
    #core-profile-toggle {
            font-size: 0.5rem;
    }

    .full-tab-menu li {
            font-size: 0.5rem;
    }

    .order-by-box-text-bottom
    {
        display: none;
    }
    .order-by-box-text-top
    {
        display: none;
    }

    .chevron-down
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .order-by-button
    {
        width: 20vw;
    }

    .order-by-box-content
    {
        left: 10%;
        width: 60vw;
    }

    .full-tab-menu li 
    {
            font-size: 0.5rem;
    }

    .gs-reqs-panel {
        width: calc(60rem / 4);
        height: calc(23rem / 3);
        border-width: 1px;
    }

    .gs-reqs-panel-left-side {
        margin: calc(20px / 3);
    }

    .gs-reqs-panel-right-side {
        top: calc(20px / 3);
        right: calc(20px / 3);
        bottom: calc(20px / 3);
    }

    .gs-reqs-panel-left-side h1,
    .gs-reqs-panel-right-side h1 {
        font-size: 0.5rem;
        height: 0px;
        margin-bottom: 10px;
    }

    .gs-reqs-panel-left-side li,
    .gs-reqs-panel-right-side li {
        border-radius: 2px;
        font-size: 0.2rem;
        margin: 0;
        padding: 5px;
        max-width: calc(60rem/3);
    }

    .gs-reqs-panel-line {
        width: 1px;
        height: calc(23rem/3 - 1px);
    }

    .gs-reqs-panel-group {
        display: grid;
        max-width: 130px;
        grid-template-columns: 1fr 2fr;
    }
}