body{
    height: 100vh;
    font-family: Arial, sans-serif;
    /*
    background-color: #1a1c29;  
    background-image: url(../img/FUNDOS/Fundo1\(1\).jpg);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
    background: #EFEFEF;
    font-family: 'Raleway';
    font-style: normal;
    justify-content: center;
    align-items: center;
}
label{
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
}
.top{
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 74px;
    background-color: #C8C8C8;
    position: absolute;
    justify-content: center;

}
.container{
    
    max-width: 600px;
    margin: 0 auto;
    /*padding 10%*/
    padding-top: 10%;
    display: flex;
    
}
.Bonequinha{
    position: relative;
    top: -2.7em;
    left: 2.7em;
    z-index: 1;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    width: 400px;
}
.form-group input{
    height:30px;

    border: none;
    border-bottom: 2px solid #C8C8C8;
    border-radius: 4px 4px 0px 0px;

    font-family: 'Raleway';
    font-style: normal;
    
}
.form-group input:hover{

    border-bottom: 1px solid #009A49;
    
}
.form-group input[type="text"]:focus, .form-group input[type="password"]:focus{
    outline: none;
}
.text-create-account{
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    padding-top: 25px; 
}
.create-account{
    color: #009A49;
    text-decoration: none;
    font-family: 'Raleway';
font-style: normal;
}
.create-account:hover{
    color: #27ae60;
    cursor: pointer;
}

#form{
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px #C8C8C8;
    border-radius: 10px;
    
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    color: #ffffff;
}
.input-nome, .input-password{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 527px;
}

@media screen and (max-width:700px){
    .Bonequinha{
        display: none;
    }
    
}
#barra{
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 74px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-bottom: 1px solid #C8C8C8;
    align-items: center;
}
#imagem{
    
    margin: 0 auto;
}
/*----------BOTÃO DE CADASTRO E LOGIN----------*/
input[type="submit"] {
    background-color: #fff;
    border: none;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid #D9D9D9;
    width: 136px;
    height: 53px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-size: 20px;
    color: #000000;
    
    cursor: pointer;
    
}

input[type="submit"]:hover {
    background: #009A49;
    transition: 400ms;
}